@mixin fontTitle {
  font-family: 'Didact Gothic', sans-serif;
  text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: auto !important;
    -moz-osx-font-smoothing: grayscale !important;
}
